html,
body {
    height: 100%;
    width: 100%;
}

.h-100 {
    height: 100%;
}

.h-30 {
    height: 30%
}

.h-70 {
    height: 70%;
}

.pt-10 {
    padding-top: 10px;
}

.sidebar {
    background: blueviolet;
}

.content {
    padding-top: calc(7vh + 10px);
}

.main-container::-webkit-scrollbar {
    display: none;
}

.main-container {
    background: rgb(2, 163, 150);
    border-radius: 5px;
    overflow: auto;
    height: auto;
}

.header>[class*='col'] {
    font-weight: 400;
    color: black;
    border-left: 1px solid #a1a1a1;
}

.bg-success {
    background-color: #16cf16!important;
}

.host-state-0 {}

.host-state-1 {
    background: #ffbcbc !important;
}

.host-state-2 {
    background: #fff7cc !important;
}


.service-state-0 {}

.service-state-1 {
    background: #fff7cc !important;
}

.service-state-2 {
    background: #ffbcbc !important;
}

.service-state-3 {
    background: #cfcfcf !important;
}

.header {
    position: sticky;
    top: 5vh;
    z-index: 1;
    background: #dddddd !important;
}

.sticky-server-header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.server-header {
    height: auto;
    min-height: 5vh;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    color: white;
    background: #325554;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.server-card {
    margin: 10px;
    margin-top: 0;
    margin-bottom: 10px;
    border-bottom: 1px solid gray;
    border-radius: 5px;
    box-shadow: 0px 3px 7px 0px #959595;
    padding-bottom: 5px;
}

.summary {
    margin: 10px 0;
}

.service-totals, .host-totals {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 0.9em;
    margin-top: 10px;
}

.total-label {
    text-align: center;
    padding: 0;
    height: 25px;
    border: 1px solid #363636!important;
    cursor: pointer;
}

.host-total-summary>[class*='col'] {
    flex: 1 0 25%;
}

.host-total-label {
    margin-bottom: 0;
    font-size: 0.7em;
    color: white;
    width: 100%;
    text-align: center;
}

p.info {
    font-size: 0.9em;
    margin-top: 10px;
    color: white;
}

.host {
    background: black;
    color: white;
}

.monitor:nth-child(even)>[class*='col'] {
    background: #f4f2f2;
}

.monitor:nth-child(odd)>[class*='col'] {
    background: #e7e7e7;
}

.row {
    background: transparent;
}

.monitor {
    font-size: 11px;
}

.monitor>[class*='col'] {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.status-label {
    width: 100%;
    margin: auto;
    background: #16cf16;
    border-radius: 3px;
    padding: 0 8px;
    margin: 3px 0;
    color: white;
}

.flex-vertical-center {
    display: flex;
    align-items: center;
}

.flex-horizontal-center {
    display: flex;
    justify-content: center;
}

.host-border {
    border: 1px solid #cfcfcf;
    border-right: 0px;
    border-top: 0;
    padding: 3px 15px;
}

.host-divider {
    margin-top: 5px;
    border-top: 1px solid #dddddd;
}

.top-bar {
    width: 100%;
    height: 7vh;
    background: #253c3c;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 2;
}

.logo{
    height: 100%;
    padding: 10px;
    filter: invert(1);
}

.bot-bar {
    height: auto;
    position: sticky;
    bottom: -1px;
    background: #253c3c;
    z-index: 1;
}

.server-select-mobile{
    padding: 5px;
    border-radius: 3px;
    width: 100%;
}

.server-select{
    padding: 5px;
    margin-top: 10px;
    border-radius: 3px;
    width: 90%;
}

@media (max-width: 768px) { 

    .host-total-summary>[class*='col'] {
        flex: 1 0 50%;
    }

}